
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="background.jpg" width="1920" height="10">
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/analysis">Analysis</a></li>
            <li><a href="/share-info">Share Info</a></li>
           
        </ul>
    </nav>
    
    <header class="hero">
        <h1>Stock Analysis Dashboard</h1>
        <p>Real-time Market Insights & Predictions</p>
    </header>
    <p class="home-description">
        The stock market is constantly changing, and predicting its movements can be challenging. 
        Our platform uses real-time data, technical analysis, and machine learning to help you 
        make informed investment decisions.
    </p>
    
    
    <section class="market-data">
        <h2>Market Overview</h2>
        <div id="stock-container">
            <!-- Stock data will be inserted dynamically -->
        </div>
    </section>
    
    <script src="script.js"></script>
</body>
</html>
